@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]


1. Footer
2. Footer_responsive

******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Oswald:400,500,600,700');

/*********************************
Footer
*********************************/

.footer
{
	display: block;
	position: relative;
	padding-top: 25px;
}
.newsletter_title
{
	font-family: 'Oswald', sans-serif;
	font-size: 36px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 1.2;
}
.newsletter_subtitle
{
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	color: #FFFFFF;
	font-weight: 300;
	margin-top: 10px;
}
.newsletter_form_container
{
	margin-top: 10px;
	margin-bottom: 25px;
}
.newsletter_input
{
	width: 100%;
	height: 50px;
	background: black;
    opacity: 0.7;
	border: none;
	outline: none;
	padding-left: 22px;
	color: #FFFFFF;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_form > div:not(:last-child)
{
	margin-right: 15px;
}
.newsletter_form > div:first-child
{
	width: calc(100% - 176px);
}
.newsletter_form > div:first-child > div:first-child
{
	width: calc((100% - 15px) * 0.35);
}
.newsletter_form > div:first-child > div:last-child
{
	width: calc((100% - 15px) * 0.65);
}
.newsletter_form > div > div > div
{
	position: absolute;
	left: 0;
	bottom: -2px;
	width: 100%;
	height: 2px;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.newsletter_button
{
	width: 161px;
	height: 50px;
	border-radius: 20px;
    background: black;
    opacity: 0.7;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #FFFFFF;
	text-transform: uppercase;
	border: none;
	outline: none;
	cursor: pointer;
}



/****************************
footer_responsive
****************************/

/* CSS Document */

/******************************

[Table of Contents]

1. 1600px
2. 1440px
3. 1280px
4. 1199px
5. 1024px
6. 991px
7. 959px
8. 880px
9. 768px
10. 767px
11. 539px
12. 479px
13. 400px

******************************/

/************
1. 1800px
************/

@media only screen and (max-width: 1800px)
{
	
}

/************
2. 1480px
************/

@media only screen and (max-width: 1480px)
{
	
}

/************
3. 1380px
************/

@media only screen and (max-width: 1380px)
{
	
}

/************
3. 1280px
************/

@media only screen and (max-width: 1280px)
{
	
}

/************
4. 1199px
************/

@media only screen and (max-width: 1199px)
{
	
}

/************
4. 1100px
************/

@media only screen and (max-width: 1100px)
{
	
}

/************
5. 1024px
************/

@media only screen and (max-width: 1024px)
{
	
}

/************
6. 991px
************/

@media only screen and (max-width: 991px)
{
	
}

/************
7. 959px
************/

@media only screen and (max-width: 959px)
{
	
}

/************
8. 880px
************/

@media only screen and (max-width: 880px)
{
	
}

/************
9. 768px
************/

@media only screen and (max-width: 768px)
{
	
}

/************
10. 767px
************/

@media only screen and (max-width: 767px)
{

	.newsletter_form > div:not(:last-child)
	{
		margin-right: 0px;
	}
	.newsletter_form > div:first-child
	{
		width: 100%;
	}
	.newsletter_form > div:first-child > div:first-child
	{
		width: 100%;
		margin-bottom: 15px;
	}
	.newsletter_form > div:first-child > div:last-child
	{
		width: 100%;
		margin-bottom: 20px;
	}
	.newsletter_form > div:last-child
	{
		margin-left: auto;
		margin-right: auto;
	}
	.newsletter_input
	{
		height: 40px;
	}
	.newsletter_button
	{
		font-size: 14px;
	}
	.newsletter_title
	{
		font-size: 28px;
	}
	.newsletter_subtitle
	{
		font-size: 16px;
	}
}

/************
11. 575px
************/

@media only screen and (max-width: 575px)
{
	
	
}

/************
11. 539px
************/

@media only screen and (max-width: 539px)
{
	
}

/************
12. 480px
************/

@media only screen and (max-width: 480px)
{
	
}

/************
13. 479px
************/

@media only screen and (max-width: 479px)
{
	
}

/************
14. 400px
************/

@media only screen and (max-width: 400px)
{
	
}